<a href="https://colab.research.google.com/github/mburu-mwangi/titanic-dataset/blob/main/Moringa_Data_Science_Core_W9_Independent_Project_2021_10_Alfonce_Mwangi_Python_Naive_Bayes_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming: Naive Bayes - Exploratory Data Analysis

## 1. Defining the Question

### a) Specifying the Data Analytic Question

>

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

In [2]:
# aiding in analysis and visualization
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# aiding in engineering and modeling
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [13]:
# Loading the Data from the source i.e. csv
df = pd.read_csv('/content/spambase.csv',header=None)
df.head()
df.shape

(4601, 58)

In [ ]:
# x= "spam/non-spam
# word_freq_make:       
# word_freq_address:    
# word_freq_all:        
# word_freq_3d:         
# word_freq_our:        
# word_freq_over:       
# word_freq_remove:     
# word_freq_internet:   
# word_freq_order:      
# word_freq_mail:        
# word_freq_receive:     
# word_freq_will:         
# word_freq_people:       
# word_freq_report:       
# word_freq_addresses:    
# word_freq_free:         
# word_freq_business:     
# word_freq_email:        
# word_freq_you:          
# word_freq_credit:       
# word_freq_your:         
# word_freq_font:         
# word_freq_000:          
# word_freq_money:        
# word_freq_hp:           
# word_freq_hpl:          
# word_freq_george:       
# word_freq_650:          
# word_freq_lab:          
# word_freq_labs:         
# word_freq_telnet:       
# word_freq_857:          
# word_freq_data:         
# word_freq_415:         
# word_freq_85:           
# word_freq_technology:   
# word_freq_1999:         
# word_freq_parts:        
# word_freq_pm:           
# word_freq_direct:       
# word_freq_cs:           
# word_freq_meeting:      
# word_freq_original:     
# word_freq_project:      
# word_freq_re:           
# word_freq_edu:          
# word_freq_table:        
# word_freq_conference:
# char_freq_;:           
# char_freq_(:            
# char_freq_[:            
# char_freq_!:            
# char_freq_$:            
# char_freq_#:            
# capital_run_length_average: 
# capital_run_length_longest: 
# capital_run_length_total:"



## 3. Checking the Data

In [15]:
# Determining the no. of records in our dataset
#
df.shape

(4601, 58)

In [14]:
# Previewing the top of our dataset
#
df.head()

     0     1     2    3     4     5   ...     52     53     54   55    56  57
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.000  0.000  3.756   61   278   1
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101  1028   1
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485  2259   1
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1

[5 rows x 58 columns]

In [16]:
# Previewing the bottom of our dataset
# 
df.tail()

        0    1     2    3     4     5   ...   52   53     54  55   56  57
4596  0.31  0.0  0.62  0.0  0.00  0.31  ...  0.0  0.0  1.142   3   88   0
4597  0.00  0.0  0.00  0.0  0.00  0.00  ...  0.0  0.0  1.555   4   14   0
4598  0.30  0.0  0.30  0.0  0.00  0.00  ...  0.0  0.0  1.404   6  118   0
4599  0.96  0.0  0.00  0.0  0.32  0.00  ...  0.0  0.0  1.147   5   78   0
4600  0.00  0.0  0.65  0.0  0.00  0.00  ...  0.0  0.0  1.250   5   40   0

[5 rows x 58 columns]

In [18]:
# Checking whether each column has an appropriate datatype
#
df.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
48    float64
49    float64
50    float64
51    float64
52    float64
53    float64
54    float64
55      int64
56      int64
57      int64
dtype: object

## 4. External Data Source Validation

## 5. Tidying the Dataset

In [ ]:
# Checking for Outliers
#

In [ ]:
# Checking for Anomalies
#

In [6]:
# Identifying the Missing Data
#
df.isnull().sum()

0         0
0.64      0
0.64.1    0
0.1       0
0.32      0
0.2       0
0.3       0
0.4       0
0.5       0
0.6       0
0.7       0
0.64.2    0
0.8       0
0.9       0
0.10      0
0.32.1    0
0.11      0
1.29      0
1.93      0
0.12      0
0.96      0
0.13      0
0.14      0
0.15      0
0.16      0
0.17      0
0.18      0
0.19      0
0.20      0
0.21      0
0.22      0
0.23      0
0.24      0
0.25      0
0.26      0
0.27      0
0.28      0
0.29      0
0.30      0
0.31      0
0.32.2    0
0.33      0
0.34      0
0.35      0
0.36      0
0.37      0
0.38      0
0.39      0
0.40      0
0.41      0
0.42      0
0.778     0
0.43      0
0.44      0
3.756     0
61        0
278       0
1         0
dtype: int64

In [ ]:
# Dealing with the Missing Data
#

In [19]:
# Checking for duplicates
#
df.duplicated().sum()

391

In [ ]:
# Dropping the duplicated columns

## 6. Exploratory Analysis

In [ ]:
# Ploting the bivariate summaries and recording our observations
#

In [ ]:
# Data Reduction
#

## 7. Implementing the Solution

In [ ]:
# Implementing the Solution
#

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [ ]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?